<content id="metadata" type="x-handlebars-metadata">
{
  "fields": ["Path","Created","AuthorOWSUSER", "Title", "BannerUrlOWSURLH", "Location", "EventsRollUpStartDate", "EventsRollUpEndDate", "Description", "ValoEventDate", "SPWebUrl", "ListID", "ListItemID", "IsAllDayEvent", "SiteID", "WebID", "ValoRecurrenceData", "ValofRecurrence", "UniqueId", "ValoSiteTitle", "DisplayAuthor", "CategoryOWSCHCS"],
  "query": "(ContentTypeId:0x0102*) AND (ValofRecurrence:0)",
  "refinementFilters": "EventsRollUpEndDate:range({Now},max,from=\"ge\")",
  "sorting": "EventsRollUpStartDate:ascending",
  "totalResults": 5,
  "skipResults": 0
}
</content>

<content id="template" type="x-handlebars-template">
  <style>
    .cardsFlex {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
  
      column-gap: 0.5em;
      row-gap:16px;
      max-height: 1500;
    }
  </style>

  {{#if dsData.items}}
    <div class="cardsFlex">
      {{#each dsData.items}}
        <card-wc title="{{Title}}" author="{{AuthorOWSUSER}}" image-url="{{BannerUrlOWSURLH}}" description="{{Description}}" link-url="{{Path}}"></card-wc>
      {{/each}}
    </div>
  {{/if}}
</content>

<content id="placeholder" type="x-handlebars-template">
  <spinner-wc></spinner-wc>
</content>
